target
.factorypath
.vscode
.settings
src/main/antlr4/io/github/orangeutan/minicalc/\.antlr/

\.idea/

src/main/antlr4/io/github/orangeutan/minicalc/MiniCalcLexer\.tokens

src/main/antlr4/io/github/orangeutan/minicalc/MiniCalcAntlrLexer\.tokens
